
<body>
  <mat-toolbar color="primary"> INVENTORY APP </mat-toolbar>
<main>
  <br>
  <br>
<mat-card>

<table align="center"  cellspacing="0px" cellpadding="15px" >
  <tr>
  <td width="40px">  <mat-form-field>
    <input matInput placeholder="Enter Product Name" type="text" [(ngModel)]="pname1">
  </mat-form-field></td>
  <td width="40px">  <mat-form-field>
    <input matInput placeholder="Enter Product Price" type="text" [(ngModel)]="price1">
  </mat-form-field></td>
    </tr>
    <tr>
    <td width="40px">  <mat-form-field>
      <input matInput placeholder="Enter Product Name" type="text" [(ngModel)]="pname2">
    </mat-form-field></td>
    <td width="10px">  <mat-form-field>
      <input matInput placeholder="Enter Product Price" type="text" [(ngModel)]="price2">
    </mat-form-field></td>
      </tr>
    
</table>

  </mat-card>
  
<br><br>
  <mat-card>
    <div class="wrapper">
        <button class="wrapper" mat-raised-button color="primary" (click)="onClick()">GENERATE INVOICE</button>
        <p  *ngIf="serverCreated">Product name 1: {{final}}</p>
    <p *ngIf="serverCreated">Product name2: {{final1}}</p>
    <p *ngIf="serverCreated">Total Amount: {{totalBill}}</p>
    </div>

</mat-card>




<br><br>
<mat-card>
  <div class="wrapper">
<button mat-raised-button color="primary" (click)="checkout()">CHECKOUT</button>
<p *ngIf="serverCreated2">Product name 1: {{tfinal}}</p>
<p *ngIf="serverCreated2">Product name 2: {{tfinal1}}</p>
<p *ngIf="serverCreated2">Total Bill: {{taxBill}}</p>
</div>
</mat-card>
</main>
</body>